* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: antiquewhite;
}

h1 {
    color: yellowgreen;
}

li {
    list-style: none;
}

a {
    font-size: 21px;
}